
/* Detail Page */

.detail-page-content {
	padding: 3rem;
}

/* Detail Header */

.detail-page-header-bar {
	height: 6rem;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	background: var(--sapGroup_ContentBackground, #ffffff);
}

@media screen and (min-width: 1440px) {
	.detail-page-header-bar {
		padding: 1rem 2.5rem;
	}
}

@media screen and (max-width: 1024px) {
	.detail-page-header-bar {
		padding: 1rem 2rem;
	}
}

@media screen and (max-width: 600px) {
	.detail-page-header-bar {
		padding: 1rem 1rem;
	}
}

.detail-page-header-bar-start {
	display: flex;
	align-items: center;
}

.detail-page-header-title {
	padding: 0 1rem;
}

.detail-page-header-menu {
	border: 1px solid var(--sapList_TableGroupHeader_BorderColor, #d9d9d9);
}

/* Detail Page Filter Bar */

.details-page-filter-bar {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.detail-page-header-menu {
	border: 1px solid var(--sapList_TableGroupHeader_BorderColor, #d9d9d9);
}

.details-page-filter-bar-actions {
	display: flex;
	flex: auto;
	justify-content: flex-end;
	padding-bottom: 0.25rem;
	max-width: 100%;
	flex-wrap: wrap;
}

.details-page-filter-bar-actions > *:not(:last-child) {
	margin-right: 0.25rem;
}

.details-page-searchfield {
	width: auto;
}

/* Detail Table */
.table {
	margin-top: 0.5rem;
}

.table-column-header-content,
.table-cell-content {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
}

.table-cell-content {
	padding: 0.5rem;
}

.table-cell-content-badge {
	height: 1.5rem;
}

.table-status-cell-content > * {
	margin-inline-end: 0.5rem;
	white-space: nowrap;
}

.table-status-cell-content > my-tokenizer {
	border: none;
}

.table-image-cell {
	height: 2.75rem;
	width: 2.75rem;
}

.middle {
	height: 100%;
	vertical-align: middle;
	line-height: 3;
}

/* Detail Page Dialog */

.dialog-footer {
	width: 100%;
	padding: 0.25rem;
	display: flex;
	justify-content: flex-end;
}

.dialog-footer > ui5-button:first-child {
	margin-right: 0.5rem;
}

.dialog-section {
	display: flex;
	margin-top: 1rem;
	flex-direction: column;
	width: 100%;
}

.dialog-section:not(.horizontal-flex) > *:not(:first-child) {
	margin-top: 0.5rem;
}

.dialog-content {
	display: flex;
	flex-direction: column;
	width: 320px;
	align-items: center;
	padding: 1rem 1rem 1.5rem 1rem;
}

.horizontal-flex {
	flex-direction: row;
}
