html, body, .root {
	height: 100%;
	padding: 0;
	margin: 0;
}

.content {
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
}
.section {
	padding: 1rem 0;
}

.section, .searchBar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.ui5card, .ui5input, .ui5datepicker {
	min-width: 300px;
	max-width: 30%;
	margin: 0.25rem;
}

.ui5inputIcon {
	background: #fafafa;
	color: #0a6ed1;
	cursor: pointer;
}
.ui5inputIcon:hover{
	background: rgba(224,224,224,0.5)
}