html, body, .root, .App {
	padding: 0;
	margin: 0;
	background: var(--sapBackgroundColor);
}

.app-content {
	padding: 2rem;
}

.section {
	padding: 1rem 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.ui5card {
	min-width: 18rem;
	max-width: 20rem;
	margin: 0.5rem 1rem 1rem 0;
}

.ui5card-large {
	min-width: 30rem;
	max-width: 60%;
	flex: 1 1;
}

.card-content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card-content-child {
	flex: 1 1;
}

.ui5icon-size,
.ui5label-size {
	font-size: 2rem;
}

.ui5list-item {
	font-size: 2rem;
	--sapUiContentNonInteractiveIconColor: #1a9898;
}

/* Action require alerts */
.alerts {
	/* display: flex;
	width: 40rem;
	flex-wrap: wrap; */
}
.ui5card-alert {
	min-width: 12rem;
	width: 12rem;
}

.ui5card-alert-content {
	height: 8rem;
}

.ui5card-alert-icon {
	margin: 0 0.5rem;
}

/* Profile Area */
.profile-header {
	flex-direction: column;
	padding: 1rem;
}

.profile-content {
	min-width: 17rem;
	padding: 0 0.25rem;
}

.profile-img {
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
}

.profile-hcb {
	width: 100%;
}

/* Semantic colors */
.error {
	color: #b00;
}

/* High Contrast Black */
.hcb .error {
	color: #fff;
}