html, body, .root, .App {
	padding: 0;
	margin: 0;
	background: var(--sapBackgroundColor, #fafafa);
}

:not(:defined) {
	display: none;
}

ui5-shellbar:not(:defined) {
	display: none;
}

ui5-card:not(:defined) {
	display: none;
}

.app-bar {
	position: sticky;
	top: 0;
	z-index: 2;
}

.app-bar-lang-popover {
	width: 200px;
}

.app-content {
	padding: 2rem;
}

.section {
	padding: 1rem 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.ui5card {
	align-self: flex-start;
	min-width: 18rem;
	max-width: 21rem;
	margin: 0.5rem 1rem 1rem 0;
}

.ui5card--large {
	min-width: 30rem;
	max-width: 60%;
	flex: 1 1;
}

.section--mid {
	flex-wrap: wrap;
}

.section--upcoming,
.section--actions-required {
	display: flex;
	flex-direction: column;
}

.section--actions-required-cards,
.section--upcoming-cards {
	padding: 1rem 0;
	display: flex;
}

.section--actions-required,
.section--actions-required-cards {
	flex-wrap: wrap;
}

.ui5card--staff-content {
	padding: 2rem;
}

.card-content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card-content-child {
	flex: 1 1;
}

.ui5icon-size {
	height: 1.75rem;
	width: 1.75rem;
}

.ui5label-size {
	font-size: 1.75rem;
}

.ui5list-item::part(icon) {
	height: 1.75rem;
	width: 1.75rem;
}

.ui5card--security {
	--sapContent_NonInteractiveIconColor: #1a9898;
}

.ui5card--energy .ui5list-item::part(icon) {
	color: var(--sapInformativeTextColor);
}

/* Action alerts */
.ui5card-alert {
	min-width: 12rem;
	width: 12rem;
}

.ui5card-alert-content {
	display: flex;
	align-items: flex-end;
	padding: 1rem;
	height: 3rem;
}

.ui5card-alert-icon {
	margin: 0 0.5rem;
}

.center-align {
	display: inline-block;
	text-align: center;
	width: 100%;
	padding: 0.5rem;
}

/* Profile Area */
.profile-header {
	flex-direction: column;
	padding: 1rem;
}

.profile-content {
	min-width: 17rem;
	padding: 0 0.25rem;
}

.profile-img {
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
}

.profile-rtl-switch {
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: space-between;
}

.profile-rtl-switch-title {
	display: flex;
	align-items: center;
	padding: 0 1rem;
}

.profile-rtl-switch-text {
	font-size: 1rem;
	color: var(--sapTextColor);
	padding: 0 0.5rem;
}

.profile-avatar {
	object-fit: contain;
}

/* Semantic colors */
.error {
	color: var(--sapNegativeColor, #bb0000);
}