.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.content, .searchBar {
	padding: 1rem
}

.ui5card {
	min-width: 300px;
	max-width: 30%;
	margin: 0.25rem;
}

.ui5inputIcon {
	background: #fafafa;
	color: #0a6ed1;
	cursor: pointer;
}
.ui5inputIcon:hover{
	background: rgba(224,224,224,0.5)
}